@media (min-width: 980px) and (max-width: 1024px) {
    #bd.boxed-layout #sns_wrapper {
        max-width: 960px
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper {
        margin: 0 0 !important
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul {
        margin: 0 0 0 -10px !important
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul li {
        width: 90px !important;
        margin-left: 12px
    }

    #sns_menu .megamenu-col .mega-title span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    #sns_menu ul.mainnav > li {
        padding-left: 5px
    }

    #sns_menu ul.mainnav > li > a {
        padding-left: 15px;
        padding-right: 15px
    }

    #sns_menu ul.mainnav > li:first-child {
        padding-left: 0
    }

    #sns_slideshow .sns-slideshow-wrap .buttons-action {
        margin-top: 15px
    }

    #sns_content #sns_right .block-layered-nav .price .text-box input[type="text"], #sns_content #sns_left .block-layered-nav .price .text-box input[type="text"] {
        width: 45px
    }

    #sns_content #sns_right .block-layered-nav .price .text-box .price-separator, #sns_content #sns_left .block-layered-nav .price .text-box .price-separator {
        margin: 0 5px
    }

    #sns_content #sns_right .block-layered-nav .price .text-box .price-to, #sns_content #sns_left .block-layered-nav .price .text-box .price-to {
        margin-right: 0
    }

    #sns_content .block.slide-banner ul {
        margin-left: -10px !important
    }

    #sns_content .block.slide-banner ul > li {
        width: 220px !important;
        margin: 0 0 0 20px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-navi {
        width: 170px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content {
        width: 750px;
        margin-left: 20px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs .navigation {
        left: -77px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs ul.products-grid {
        margin-left: -10px !important
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs ul.products-grid .item {
        margin: 0 0 0 20px;
        width: 172.5px !important
    }

    #sns_content .box-up-sell .block-content .up-sell-products ul.products-grid {
        margin: 0 0 0 -20px !important
    }

    #sns_content .box-up-sell .block-content .up-sell-products ul.products-grid li.item {
        width: 220px !important;
        float: left;
        margin: 0 0 0 20px
    }

    #sns_testimonials .block-content .list-quotes .item {
        padding: 5px 55px 0
    }

    #sns_productswrap .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_productswrap .sns-slider ul.products-grid .item {
        width: 210px !important;
        margin: 0 0 0 20px
    }

    #sns_botsl2 .block-subscribe .block-content form .input-box input {
        width: 188px
    }

    #postComment ul.form-list .input-box input.input-text {
        max-width: 170px
    }
}

@media (min-width: 801px) and (max-width: 979px) {
    body {
        padding: 0
    }

    body .container {
        width: 724px
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #bd.boxed-layout #sns_wrapper {
        max-width: 744px
    }

    #sns_slideshow {
        overflow: hidden;
        max-height: 450px
    }

    #sns_slideshow .sns-slideshow-wrap {
        padding-top: 25px
    }

    #sns_slideshow .sns-slideshow-wrap .sns-fraction-slider .fs_loader {
        top: 240px
    }

    #sns_slideshow .sns-slideshow-wrap .teaser {
        line-height: 14px !important
    }

    #sns_content .block.slide-banner ul {
        margin-left: -10px !important
    }

    #sns_content .block.slide-banner ul > li {
        width: 220px !important;
        margin: 0 0 0 20px
    }

    #sns_content .box-up-sell .block-content .up-sell-products ul.products-grid {
        margin: 0 0 0 -20px !important
    }

    #sns_content .box-up-sell .block-content .up-sell-products ul.products-grid li.item {
        width: 228px !important;
        float: left;
        margin: 0 0 0 20px
    }

    #sns_content .box-up-sell .block-content .up-sell-products .caroufredsel_wrapper {
        max-width: 100%
    }

    #sns_testimonials .block-content .list-quotes .item {
        padding: 5px 10px 0
    }

    #sns_botsl .block.block-ouragents .pretext div {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    #sns_botsl .block.block-ouragents .block-content .list-agents {
        margin-left: -10px !important
    }

    #sns_botsl .block.block-ouragents .block-content .list-agents .item {
        margin: 0 0 0 20px;
        width: 230px !important
    }

    #sns_productswrap .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_productswrap .sns-slider ul.products-grid .item {
        width: 228px !important;
        margin: 0 0 0 20px
    }

    #sns_botsl2 .block-connectus .block-content p.c-address {
        line-height: 18px
    }

    #sns_botsl2 .block-connectus .block-content p.c-phone {
        line-height: 48px
    }

    #sns_botsl2 .block-connectus .block-content p.c-phone label {
        display: none
    }

    #sns_botsl2 .block-connectus .block-content p.c-email {
        line-height: 48px
    }

    #sns_botsl2 .block-connectus .block-content p.c-email label {
        display: none
    }

    #sns_botsl2 .block-subscribe .block-content form .input-box input {
        width: 136px
    }
}

@media (max-width: 979px) {
    .data-table thead tr td, .data-table thead tr th {
        white-space: normal;
        padding: 5px
    }

    .data-table tbody td {
        padding: 5px
    }

    .data-table input.input-text {
        width: auto;
        max-width: 70%
    }

    .data-table textarea {
        max-width: 70%
    }

    .data-table .button {
        padding-left: 7px;
        padding-right: 7px;
        margin: 2px 0
    }

    .data-table .price-box .price {
        font-size: 120%
    }

    .quickview-wrap {
        display: none
    }

    .sns-btn-quickview {
        display: none
    }

    .products-grid .item .item-inner .item-img .item-box-hover.number-buttom3.has-btn-qv .box-inner {
        width: 122px
    }

    .products-grid .item .item-inner .item-img .item-box-hover.number-buttom2.has-btn-qv .box-inner {
        width: 61px
    }

    .products-grid .item .item-inner .item-img .item-box-hover.number-buttom1.has-btn-qv .box-inner {
        width: 0
    }

    .sns-product-detail .product-shop .price-rating {
        margin-bottom: 45px
    }

    .quickview-main .addthis_toolbox {
        display: none
    }

    .quickview-main #product-shop .email-friend {
        margin: 0
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper {
        margin: 0 0 !important
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul {
        margin: 0 0 0 -9px !important
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul li {
        width: 69px !important
    }

    .sns-product-detail .more-views .caroufredsel_wrapper {
        max-width: 100%
    }

    body {
        padding: 0
    }

    body .container {
        padding: 0 10px
    }

    #sns_topheader .topheader-right .sns-quickaccess {
        height: 36px;
        width: 36px;
        position: relative;
        cursor: pointer;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb
    }

    #sns_topheader .topheader-right .sns-quickaccess .welcome {
        display: none
    }

    #sns_topheader .topheader-right .sns-quickaccess ul.links {
        position: absolute;
        top: 35px;
        left: -114px;
        background: transparent;
        width: 160px;
        padding: 10px 0 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        transform-origin: 50% 10% 0;
        -moz-transform-origin: 50% 10% 0;
        -webkit-transform-origin: 50% 10% 0;
        -o-transform-origin: 50% 10% 0;
        -ms-transform-origin: 50% 10% 0;
        margin: 0;
        padding: 0;
        border: 0;
        background: #FFF;
        border: 1px solid #ebebeb
    }

    #sns_topheader .topheader-right .sns-quickaccess ul.links li {
        display: block;
        background: 0;
        padding: 5px 0;
        text-align: left;
        border-top: 1px solid #dfdfdf;
        margin: 0 10px
    }

    #sns_topheader .topheader-right .sns-quickaccess ul.links li:first-child {
        padding: 5px 0;
        border-top: 0
    }

    #sns_topheader .topheader-right .sns-quickaccess ul.links li a {
        display: block;
        font-size: 100%
    }

    #sns_topheader .topheader-right .sns-quickaccess:hover ul.links {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    #sns_topheader .topheader-right .sns-quickaccess:before {
        content: "\f13d";
        position: absolute;
        font-family: FontAwesome;
        left: 9px;
        top: 0;
        font-size: 16px;
        color: #909090;
        z-index: 1;
        cursor: pointer
    }

    #sns_header .header-left {
        display: none
    }

    #sns_header #logo {
        text-align: left;
        margin-left: 0
    }

    #sns_header .header-right .header-right-inner {
        float: right
    }

    #sns_header .header-right .header-right-inner #search_mini_form .form-search input.input-text {
        width: 150px
    }

    #sns_header .header-right .header-right-inner #search_mini_form .form-search input.input-text:focus {
        width: 160px
    }

    #sns_slideshow .sns-slideshow-wrap .buttons-action {
        margin-top: 10px
    }

    #sns_menu {
        position: relative
    }

    #sns_menu .container {
        padding: 0;
        height: 43px
    }

    #sns_menu .container .row-fluid .search-box {
        float: right;
        margin: 0;
        width: 0
    }

    #sns_menu .container .row-fluid .search-box form {
        position: absolute;
        top: 0;
        right: 0
    }

    #sns_menu #sns_mainnav {
        width: 100%
    }

    #sns_menu #sns_mainnav .sns-megamenu-wrap, #sns_menu #sns_mainnav .header-nav-container, #sns_menu #sns_mainnav .header-nav-container-home {
        display: none
    }

    #sns_menu #sns_resmenu {
        display: block;
        position: relative
    }

    #sns_menu #sns_resmenu.sns-resmenu #sns_resmenu_collapse {
        position: relative;
        background: #333;
        top: 18px;
        -webkit-transition: all .4s ease-out 0s;
        -moz-transition: all .4s ease-out 0s;
        -o-transition: all .4s ease-out 0s;
        transition: all .4s ease-out 0s
    }

    #sns_menu #sns_resmenu.sns-resmenu #sns_resmenu_collapse.active ul.nav {
        opacity: 1;
        filter: alpha(opacity=100);
        display: block
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav {
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        display: none
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li {
        display: block;
        border-top: 1px solid #444;
        position: relative
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li a {
        display: block;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
        color: #FFF;
        padding: 5px 0;
        font-weight: normal
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li a:hover, #sns_menu #sns_resmenu.sns-resmenu ul.nav li a:focus {
        color: #FFF
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li a span {
        background: 0
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li:first-child {
        margin: 0
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li .res-wrapnav {
        background: #3a3a3a;
        height: 0;
        -webkit-transition: all .4s ease-out 0s;
        -moz-transition: all .4s ease-out 0s;
        -o-transition: all .4s ease-out 0s;
        transition: all .4s ease-out 0s
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li .res-wrapnav > ul {
        opacity: 0;
        filter: alpha(opacity=0);
        margin: 0 0 0 20px
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li .res-wrapnav > ul ul {
        margin: 0 0 0 20px
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li.open > .res-wrapnav > ul {
        opacity: 1;
        filter: alpha(opacity=100);
        display: block
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li.open > .menuress-toggle:before {
        content: "\f106"
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li .menuress-toggle {
        position: absolute;
        top: 0;
        right: 1px;
        height: 30px;
        width: 30px;
        background: #111;
        text-align: center;
        cursor: pointer
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li .menuress-toggle:before {
        font-family: FontAwesome;
        content: "\f107";
        color: #FFF;
        position: relative;
        top: 4px
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav li .menuress-toggle:hover {
        background: #000
    }

    #sns_menu #sns_resmenu.sns-resmenu ul.nav > li > a {
        background: #333;
        text-decoration: none;
        padding: 5px 10px
    }

    #sns_menu.keep-menu {
        position: relative;
        top: auto;
        left: auto;
        z-index: 2
    }

    #sns_menu .nav-right {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0
    }

    #sns_off_screennav ul {
        margin: 0 0 0 15px
    }

    #sns_off_screennav ul li {
        display: block
    }

    #sns_off_screennav ul li:first-child {
        border: 0
    }

    #sns_off_screennav ul li a {
        color: #999;
        padding: 5px 5px;
        display: block;
        border-bottom: 1px solid #444
    }

    #sns_off_screennav ul li.active > a, #sns_off_screennav ul li:hover > a {
        color: #fff
    }

    #sns_off_screennav > ul {
        margin: 15px
    }

    body.resmenu-sb {
        overflow-x: hidden;
        width: 100%
    }

    body.resmenu-sb #sns_wrapper {
        -webkit-transition: all .3s ease-out 0s;
        -moz-transition: all .3s ease-out 0s;
        -o-transition: all .3s ease-out 0s;
        transition: all .3s ease-out 0s
    }

    body.resmenu-sb.on-sidebar #sns_wrapper {
        -webkit-transition: all .3s ease-out 0s;
        -moz-transition: all .3s ease-out 0s;
        -o-transition: all .3s ease-out 0s;
        transition: all .3s ease-out 0s;
        transform: translate3d(220px, 0px, 0px);
        -moz-transform: translate3d(220px, 0px, 0px);
        -o-transform: translate3d(220px, 0px, 0px);
        -webkit-transform: translate3d(220px, 0px, 0px);
        -ms-transform: translateX(220px)
    }

    body.resmenu-sb.on-sidebar #sns_off_screennav_overlay {
        display: block
    }

    #sns_content #sns_right .block-layered-nav .price .text-box input[type="text"], #sns_content #sns_left .block-layered-nav .price .text-box input[type="text"] {
        width: 48px
    }

    #sns_content #sns_right .block-layered-nav .price .text-box .price-separator, #sns_content #sns_left .block-layered-nav .price .text-box .price-separator {
        margin: 0 5px
    }

    #sns_content #sns_right .block-layered-nav .price .text-box .price-to, #sns_content #sns_left .block-layered-nav .price .text-box .price-to {
        margin-right: 0
    }

    #sns_content .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_content .sns-slider ul.products-grid .item {
        width: 228px !important;
        margin: 0 0 0 20px
    }

    #sns_content #sns_mainmidle .left-content {
        width: 100%
    }

    #sns_content #sns_mainmidle .right-content {
        width: 100%;
        margin: 20px 0 0
    }

    #sns_content #sns_mainmidle .products-list .item .item-img {
        width: 35%
    }

    #sns_content #sns_mainmidle .products-list .item .product-shop .actions-addtocart {
        padding: 10px 0 0;
        clear: left;
        display: block
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-navi {
        width: 169px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content {
        width: 540px;
        margin-left: 15px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs .navigation {
        left: -72px
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs .caroufredsel_wrapper {
        margin: 0 -8px 0 !important;
        padding: 10px 8px 0 !important
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs ul.products-grid {
        margin-left: -8px !important
    }

    #sns_content #sns_mainbottom .sns-tabs .tabs-content .sns-slider.fortabs ul.products-grid .item {
        margin: 0 0 0 15px;
        width: 170px !important
    }

    #sns_content .category-products .toolbar .limiter {
        display: none
    }

    #sns_content .category-products .toolbar .pager .amount {
        display: none
    }

    #sns_content .block-subscribe.forright input {
        width: 180px
    }

    #sns_cpanel {
        display: none
    }

    #postComment ul.form-list .input-box input.input-text {
        max-width: 170px
    }

    #postComment ul.form-list .input-box textarea {
        max-width: 95%;
        width: 90% !important
    }
}

@media (max-width: 641px) {
    #modal_login, #modal_regis {
        left: 20%;
        margin: 0;
        width: 60%
    }

    #modal_login.fade.in, #modal_regis.fade.in {
        top: 15px
    }

    #modal_regis .buttons-set {
        padding-bottom: 20px !important
    }

    .products-grid .item {
        float: none
    }

    #sns_menu .container {
        margin: 0 10px
    }

    #sns_menu .container .row-fluid #sns_resmenu #sns_resmenu_collapse {
        left: -10px !important
    }

    #sns_ajaxinner {
        margin: 0 0 0 -158px;
        width: 316px
    }

    .sns-producttabs .sns-pdt-container .sns-pdt-nav .pdt-nav > li {
        margin-bottom: 5px;
        float: left;
        padding-left: 22px;
        padding-right: 22px
    }

    .sns-producttabs .sns-pdt-container .pre-text {
        display: none
    }

    .sns-producttabs .sns-pdt-container .sns-pdt-content {
        width: 100%;
        float: left
    }

    .sns-producttabs .sns-pdt-container .sns-pdt-content .content-loading {
        background: 0;
        min-height: 450px
    }

    .sns-producttabs .sns-pdt-container .sns-pdt-content .content-loading .cir {
        box-shadow: -35px -60px 0 20px #6cce74, 35px -60px 0 20px #c18d46, 70px 0 0 20px #c14745, 35px 60px 0 20px #2e1e5b, -35px 60px 0 20px #9c37a6, -70px 0 0 20px #76bdd1;
        -o-animation: smallLoading 12s infinite linear;
        -moz-animation: smallLoading 12s infinite linear;
        -webkit-animation: smallLoading 12s infinite linear;
        animation: smallLoading 12s infinite linear
    }

    .col2-set .col-1 {
        width: 100%;
        margin-bottom: 10px
    }

    .col2-set .col-2 {
        width: 100%;
        margin-bottom: 10px
    }

    .cart .col2-set {
        width: 100%
    }

    .cart tbody td .product-name {
        line-height: 18px
    }

    .cart tfoot td {
        padding: 10px 5px
    }

    .cart .totals {
        width: 100%
    }

    .cart .a-center input.input-text {
        padding: 6px 2px;
        text-align: center
    }

    #sns_topheader .topheader-left {
        width: 60%;
        float: left
    }

    #sns_topheader .topheader-right {
        width: 40%;
        float: left
    }

    #sns_header #logo {
        width: 100%;
        text-align: center
    }

    #sns_header .header-right {
        height: 0;
        position: absolute;
        right: 0
    }

    #sns_header .header-right .header-right-inner {
        height: 0
    }

    #sns_header .header-right .header-right-inner .connect-us {
        display: none
    }

    #sns_header .header-right #search_mini_form {
        position: absolute;
        bottom: -30px;
        right: 196px;
        cursor: pointer;
        height: 84px;
        width: 51px
    }

    #sns_header .header-right #search_mini_form:before {
        content: "";
        top: 14px;
        right: 0;
        position: absolute;
        width: 49px;
        height: 49px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: transparent
    }

    #sns_header .header-right #search_mini_form:after {
        position: absolute;
        content: "";
        height: 16px;
        width: 17px;
        background: url("../images/ico-search-white.png") no-repeat left top;
        top: 32px;
        left: 18px
    }

    #sns_header .header-right #search_mini_form .form-search {
        position: absolute;
        right: -20px;
        top: 84px;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        transform-origin: 50% 10% 0;
        -moz-transform-origin: 50% 10% 0;
        -webkit-transform-origin: 50% 10% 0;
        -o-transform-origin: 50% 10% 0;
        -ms-transform-origin: 50% 10% 0
    }

    #sns_header .header-right #search_mini_form .form-search input.input-text {
        width: 160px !important;
        border-color: #FFF
    }

    #sns_header .header-right #search_mini_form .form-search input.input-text:focus {
        width: 160px !important
    }

    #sns_header .header-right #search_mini_form:hover:before {
        background: rgba(255, 255, 255, 0.2)
    }

    #sns_header .header-right #search_mini_form:hover .form-search {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    #sns_slideshow {
        overflow: hidden;
        max-height: 400px
    }

    #sns_slideshow .sns-slideshow-wrap {
        padding-top: 32px
    }

    #sns_slideshow .sns-slideshow-wrap .buttons-action {
        display: none
    }

    #sns_slideshow .sns-slideshow-wrap .sns-fraction-slider .fs_loader {
        top: 200px
    }

    #sns_topsl {
        display: none
    }

    #sns_topsl .block {
        margin-top: 25px
    }

    #sns_topsl .block:first-child {
        margin-top: 0
    }

    #sns_testimonials {
        height: 265px;
        padding: 50px 0 0
    }

    #sns_testimonials .block-title:before {
        display: none
    }

    #sns_testimonials .block-title:after {
        display: none
    }

    #sns_testimonials .block-content .list-quotes .item {
        padding: 5px 0 0
    }

    #sns_content .block.block-subscribe input {
        width: auto
    }

    #sns_content .block.block-social .block-title {
        float: none;
        display: block;
        margin-bottom: 20px
    }

    #sns_content .sns-slider .pretext {
        display: none
    }

    #sns_content .sns-slider .pretext:before {
        display: none
    }

    #sns_content .sns-slider .navigation {
        top: -5px
    }

    #sns_content .sns-slider .caroufredsel_wrapper {
        margin: 22px 0 0 !important;
        padding: 0 0 !important
    }

    #sns_content .sns-slider ul.products-grid {
        margin-left: 0 !important
    }

    #sns_content .sns-slider ul.products-grid .item {
        width: 190px !important;
        margin: 0 8px
    }

    #sns_content .block.slide-banner ul {
        margin-left: 0 !important
    }

    #sns_content .block.slide-banner ul > li {
        width: 620px !important
    }

    #sns_content #sns_right, #sns_content #sns_left {
        margin-bottom: 30px
    }

    #sns_content #sns_right .block-layered-nav .price .text-box input[type="text"], #sns_content #sns_left .block-layered-nav .price .text-box input[type="text"] {
        width: 60px
    }

    #sns_content .box-up-sell .block-content .up-sell-products ul.products-grid {
        margin: 0 0 0 -20px !important
    }

    #sns_content .box-up-sell .block-content .up-sell-products ul.products-grid li.item {
        margin-left: 20px;
        width: 300px !important
    }

    #sns_content #sns_mainmidle .block.block-testimonials {
        margin-top: 30px
    }

    #sns_content #sns_mainmidle .block.block-testimonials .navigation {
        top: -4px
    }

    #sns_content #sns_mainmidle .block.block-testimonials .pretext {
        display: none
    }

    #sns_content #sns_mainmidle .block.block-testimonials .pretext:before {
        display: none
    }

    #sns_content #sns_mainmidle .block.block-testimonials .block-content .caroufredsel_wrapper {
        padding: 0 0 !important;
        margin: 0 0 !important
    }

    #sns_content #sns_mainmidle .block.block-testimonials .block-content .caroufredsel_wrapper .list-quotes {
        margin: 0 0 0 0 !important
    }

    #sns_content #sns_mainmidle .block.block-testimonials .block-content .caroufredsel_wrapper .list-quotes .item {
        width: 294px !important;
        margin: 0 8px
    }

    #sns_content #sns_mainmidle .block.block-related .products-grid .item {
        margin: 0 10px;
        width: 265px !important;
        float: left
    }

    #sns_content #sns_mainmidle .products-list .item .item-img {
        width: 100%;
        margin: 0 0 15px 0
    }

    #sns_content #sns_mainmidle .products-list .item .item-img .product-image {
        width: 100%;
        text-align: center
    }

    #sns_content #sns_mainmidle .products-list .item .item-img .product-image .img-additional {
        width: 100%
    }

    #sns_content #sns_mainmidle .products-list .item .product-shop {
        margin: 0;
        width: 100%
    }

    #sns_content #sns_mainmidle .products-list .item .product-shop > * {
        padding-right: 10px;
        padding-left: 10px
    }

    #sns_content #sns_mainmidle .products-list .item .product-shop .price-rating .rating-links {
        display: none
    }

    #sns_content #sns_mainmidle .products-list .item .product-shop .actions-addtocart {
        padding: 0
    }

    #sns_content #sns_mainmidle .category-products .toolbar .sort-by {
        display: none
    }

    #sns_content #sns_mainmidle .sns-product-detail .product-image-zoom .cloud-zoom {
        text-align: center
    }

    #sns_content #sns_mainmidle .sns-product-detail .product-image-zoom .cloud-zoom img {
        display: inline-block !important
    }

    #sns_content #sns_mainmidle .sns-product-detail .product-image-zoom .popup-btn {
        display: none
    }

    #sns_content #sns_mainmidle .sns-product-detail .product-image-zoom .cloud-zoom-big, #sns_content #sns_mainmidle .sns-product-detail .product-image-zoom .cloud-zoom-lens {
        display: none !important
    }

    #sns_content #sns_mainmidle .sns-product-detail h1.product-name {
        margin: 10px 0
    }

    #sns_content #sns_mainmidle .sns-product-detail .more-views .slide-gallery {
        margin-bottom: 20px
    }

    #sns_content #sns_mainbottom {
        display: none
    }

    #sns_content #sns_mainbottom .sns-tabs {
        display: none
    }

    #sns_promotions {
        display: none
    }

    #sns_productswrap .sns-slider .pretext {
        display: none
    }

    #sns_productswrap .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_productswrap .sns-slider ul.products-grid .item {
        width: 298px !important;
        margin: 0 0 0 20px;
        float: left
    }

    #sns_brand .slider-brands ul li {
        width: 230px !important
    }

    #sns_botsl .block {
        margin-top: 30px
    }

    #sns_botsl .block:first-child {
        margin-top: 0
    }

    #sns_botsl2 .block {
        margin-top: 10px
    }

    #sns_botsl2 .block:first-child {
        margin-top: 0
    }

    .price-box .old-price {
        margin-right: 5px
    }

    #postComment {
        position: relative;
        padding-bottom: 30px
    }

    #postComment ul.form-list .input-box input.input-text {
        max-width: 170px
    }

    #postComment ul.form-list .input-box textarea {
        max-width: 95%;
        width: 90% !important
    }

    #postComment ul.form-list .button-set {
        position: absolute;
        bottom: 0
    }

    .contact-page {
        max-width: 870px;
        margin: 0 auto
    }

    .contact-page .page-title h1 {
        text-align: center
    }

    .contact-page .contact-content > p {
        text-align: center
    }

    .contact-page .more-info {
        margin-bottom: 30px;
        padding: 10px 0;
        border-bottom: 1px solid #e9e9e9;
        border-top: 1px solid #e9e9e9
    }

    .contact-page .more-info p {
        margin: 0;
        line-height: 20px
    }

    .contact-page .more-info .address p {
        margin: 0;
        text-align: left
    }

    .contact-page .more-info .chat p {
        margin: 0;
        text-align: left
    }

    .contact-page .more-info .phone {
        text-align: left;
        height: 50px;
        margin: 3px 0;
        border: 0
    }
}

@media (max-width: 481px) {
    #sns_topheader .topheader-left {
        width: 36px;
        height: 36px;
        position: relative;
        border-right: 1px solid #ebebeb;
        border-left: 1px solid #ebebeb
    }

    #sns_topheader .topheader-left:before {
        font-family: FontAwesome;
        width: 100%;
        height: 100%;
        cursor: pointer;
        content: "\f0c0";
        position: absolute;
        font-size: 16px;
        left: 8px;
        top: 0
    }

    #sns_topheader .topheader-left ul.contact-us-now {
        position: absolute;
        top: 35px;
        left: -1px;
        width: 160px;
        border: 1px solid #ebebeb;
        background: #FFF;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .4s ease-out;
        -moz-transition: all .4s ease-out;
        -o-transition: all .4s ease-out;
        transition: all .4s ease-out
    }

    #sns_topheader .topheader-left ul.contact-us-now li {
        display: block;
        margin: 0 10px;
        border-top: 1px solid #ebebeb;
        float: none
    }

    #sns_topheader .topheader-left ul.contact-us-now li:first-child {
        border-top: 0;
        margin-left: 10px
    }

    #sns_topheader .topheader-left:hover ul.contact-us-now {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    #sns_topheader .topheader-right {
        width: 80%;
        float: right
    }

    #modal_login, #modal_regis {
        left: 15%;
        margin: 0;
        width: 70%
    }

    #modal_login.fade.in, #modal_regis.fade.in {
        top: 15px
    }

    .sns-product-detail #sns_tab_products ul.sns-tab-navi {
        width: 100% !important
    }

    .sns-product-detail #sns_tab_products ul.sns-tab-navi li {
        width: auto;
        display: inline-block;
        margin: 0 0 5px 5px
    }

    .sns-product-detail #sns_tab_products ul.sns-tab-navi li a {
        border: 1px solid #eaeaea
    }

    .sns-product-detail #sns_tab_products ul.sns-tab-navi li a.tabulous_active:before {
        display: none
    }

    .sns-product-detail #sns_tab_products ul.sns-tab-navi li:first-child {
        margin-left: 0
    }

    .sns-product-detail #sns_tab_products .sns-tab-content {
        width: 100% !important
    }

    #sns_slideshow {
        overflow: hidden;
        max-height: 350px
    }

    #sns_slideshow .sns-slideshow-wrap {
        padding-top: 45px
    }

    #sns_slideshow .sns-slideshow-wrap .buttons-action {
        display: none
    }

    #sns_slideshow .sns-slideshow-wrap .sns-fraction-slider .fs_loader {
        top: 160px
    }

    #sns_content .sns-slider .caroufredsel_wrapper {
        margin: 22px 0 0 !important;
        padding: 0
    }

    #sns_content .sns-slider ul.products-grid {
        margin-left: 0 !important
    }

    #sns_content .sns-slider ul.products-grid .item {
        width: 214px !important;
        margin: 0 8px
    }

    #sns_content .block.slide-banner ul {
        margin-left: 0 !important
    }

    #sns_content .block.slide-banner ul > li {
        width: 460px !important
    }

    #sns_content #sns_mainmidle .box-up-sell .block-content .up-sell-products ul.products-grid {
        margin: 0 0 0 -20px !important
    }

    #sns_content #sns_mainmidle .box-up-sell .block-content .up-sell-products ul.products-grid li.item {
        margin-left: 20px;
        width: 220px !important
    }

    #sns_content #sns_mainmidle .block.block-testimonials .block-content .caroufredsel_wrapper {
        padding: 0 0 !important;
        margin: 0 0 !important
    }

    #sns_content #sns_mainmidle .block.block-testimonials .block-content .caroufredsel_wrapper .list-quotes {
        margin: 0 0 0 0 !important
    }

    #sns_content #sns_mainmidle .block.block-testimonials .block-content .caroufredsel_wrapper .list-quotes .item {
        width: 214px !important;
        margin: 0 8px
    }

    #sns_content #sns_mainmidle .block.block-related .products-grid .item {
        width: 185px !important;
        float: left
    }

    #sns_productswrap .sns-slider .pretext {
        display: none
    }

    #sns_productswrap .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_productswrap .sns-slider ul.products-grid .item {
        width: 220px !important;
        margin: 0 0 0 20px;
        float: left
    }

    #sns_brand .slider-brands ul li {
        width: 295px !important
    }

    #sns_footer .sns-info ul {
        display: table;
        margin: 0 auto
    }

    #sns_footer .sns-info ul li {
        display: inline-block;
        float: left;
        padding: 0 5px 0 7px
    }

    #sns_footer .sns-info ul li:first-child {
        padding-left: 0
    }

    #sns_footer .sns-info ul li.last {
        padding-right: 0
    }
}

@media (max-width: 361px) {
    #modal_login, #modal_regis {
        left: 5%;
        margin: 0;
        width: 90%
    }

    #modal_login.fade.in, #modal_regis.fade.in {
        top: 15px
    }

    #sns_header .header-right #search_mini_form .form-search {
        right: -70px
    }

    .sns-product-detail #sns_tab_products .sns-tab-content .tab-content-inner {
        margin-left: 10px;
        margin-right: 10px
    }

    .sns-product-detail .more-views .nav-gallery .next, .sns-product-detail .more-views .nav-gallery .prev {
        left: -9px;
        margin-top: -22px
    }

    .sns-product-detail .more-views .nav-gallery .next {
        left: auto;
        right: -9px
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul {
        margin: 0 0 0 -8px !important
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul li {
        width: 76px !important
    }

    #sns_slideshow {
        overflow: hidden;
        max-height: 320px
    }

    #sns_slideshow .sns-slideshow-wrap {
        padding-top: 52px
    }

    #sns_slideshow .sns-slideshow-wrap .buttons-action {
        display: none
    }

    #sns_slideshow .sns-slideshow-wrap .sns-fraction-slider .fs_loader {
        top: 150px
    }

    #sns_content .sns-slider .caroufredsel_wrapper {
        margin: 22px 0 0 !important;
        padding: 0
    }

    #sns_content .sns-slider ul.products-grid {
        margin-left: 0 !important
    }

    #sns_content .sns-slider ul.products-grid .item {
        width: 155px !important;
        margin: 0 8px
    }

    #sns_content .block.slide-banner ul {
        margin-left: 0 !important
    }

    #sns_content .block.slide-banner ul > li {
        width: 340px !important
    }

    #sns_content #sns_mainmidle .box-up-sell .block-content .up-sell-products ul.products-grid {
        margin: 0 0 0 -20px !important
    }

    #sns_content #sns_mainmidle .box-up-sell .block-content .up-sell-products ul.products-grid li.item {
        margin-left: 20px;
        width: 340px !important
    }

    #sns_content #sns_mainmidle .block.block-related .products-grid .item {
        width: 300px !important
    }

    #sns_productswrap .sns-slider .pretext {
        display: none
    }

    #sns_productswrap .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_productswrap .sns-slider ul.products-grid .item {
        width: 340px !important;
        margin: 0 0 0 20px;
        float: left
    }

    #sns_brand .slider-brands ul li {
        width: 180px !important
    }

    #sns_brand .slider-brands ul li a {
        display: inline
    }
}

@media (max-width: 321px) {
    #sns_header .header-right #search_mini_form .form-search {
        right: -110px
    }

    #sns_menu .nav-right .block-wishlist .block-content {
        right: -110px
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul {
        margin: 0 0 0 -8px !important
    }

    .sns-product-detail .more-views .slide-gallery .caroufredsel_wrapper ul li {
        width: 92px !important
    }

    #sns_slideshow {
        overflow: hidden;
        max-height: 320px
    }

    #sns_slideshow .sns-slideshow-wrap {
        padding-top: 55px
    }

    #sns_slideshow .sns-slideshow-wrap .buttons-action {
        display: none
    }

    #sns_slideshow .sns-slideshow-wrap .sns-fraction-slider .fs_loader {
        top: 150px
    }

    #sns_content .sns-slider .caroufredsel_wrapper {
        margin: 22px 0 0 !important;
        padding: 0
    }

    #sns_content .sns-slider ul.products-grid {
        margin-left: 0 !important
    }

    #sns_content .sns-slider ul.products-grid .item {
        width: 284px !important;
        margin: 0 8px
    }

    #sns_content .block.slide-banner ul {
        margin-left: 0 !important
    }

    #sns_content .block.slide-banner ul > li {
        width: 300px !important
    }

    #sns_content #sns_mainmidle .box-up-sell .block-content .up-sell-products ul.products-grid li.item {
        width: 300px !important
    }

    #sns_content #sns_mainmidle .block.block-related .products-grid .item {
        width: 260px !important
    }

    #sns_productswrap .sns-slider .pretext {
        display: none
    }

    #sns_productswrap .sns-slider ul.products-grid {
        margin-left: -10px !important
    }

    #sns_productswrap .sns-slider ul.products-grid .item {
        width: 300px !important;
        margin: 0 0 0 20px;
        float: left
    }

    #sns_brand .slider-brands ul li {
        width: 145px !important
    }

    #sns_brand .slider-brands ul li a {
        display: inline
    }
}
