@import "styles.css";
@import "../../../node_modules/tailwindcss";

/* Required by all components */
@import '../../../vendor/filament/support/resources/css/index.css';

/* Required by actions and tables */
@import '../../../vendor/filament/actions/resources/css/index.css';

/* Required by actions, forms and tables */
@import '../../../vendor/filament/forms/resources/css/index.css';

/* Required by actions and infolists */
@import '../../../vendor/filament/infolists/resources/css/index.css';

/* Required by notifications */
@import '../../../vendor/filament/notifications/resources/css/index.css';

/* Required by actions, infolists, forms, schemas and tables */
@import '../../../vendor/filament/schemas/resources/css/index.css';

/* Required by tables */
@import '../../../vendor/filament/tables/resources/css/index.css';

/* Required by widgets */
@import '../../../vendor/filament/widgets/resources/css/index.css';

/* MAPEAMENTO DE CAMINHOS ADICIONAIS */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source "../../Modules/**/resources/views/**/*.blade.php";
@source "../../library/Idea/**/resources/views/**/*.blade.php";
@source "../../resources/views/wsdadm/**/*.blade.php";
@source '../../storage/framework/views/*.php';

@variant dark (&:where(.dark, .dark *));

/* 2. PLUGINS (Configurações em lista simples e sem aninhamento) */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms" { strategy: 'base' }

@plugin "daisyui" {
    prefix: "dy-";
    themes: mytheme; /* Define o nome do seu tema customizado */
}

/* 3. CONFIGURAÇÕES DE TEMA (Suas cores, fontes e cores do DaisyUI reunidas) */
@theme {
    /* Mantendo a fonte padrão do Laravel 13 */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Definição do breakpoint XL necessário para o seu container */
    --breakpoint-xl: 1536px;

    /* Configuração do Tema Customizado do DaisyUI */
    --color-primary: oklch(58% 0.158 241.966);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(0.638 0.055 257.68);
    --color-secondary-content: oklch(0.541 0.049 259.121);
    --color-accent: oklch(60% 0.118 184.704);
    --color-accent-content: oklch(0.474 0.084 184.796);
    --color-neutral: #8ec0d2;
    --color-neutral-content: #599db7;
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(22.389% 0.031 278.072);
    --color-info: oklch(60% 0.126 221.723);
    --color-success: oklch(0.484 0.129 149.5);
    --color-warning: oklch(0.673 0.137 89.901);
    --color-error: oklch(0.558 0.166 22.612);

    /* Variáveis de Estilo do DaisyUI */
    --rounded-box: 0.25rem;
    --rounded-btn: 0.25rem;
    --rounded-badge: 0.25rem;
    --tab-radius: 0.25rem;

    --color-success-50: #f2fbf3;
    --color-success-100: #e0f8e3;
    --color-success-200: #c3efc9;
    --color-success-300: #a1e5ab;
    --color-success-400: #5dcb6d;
    --color-success-450: #59c268;
    --color-success-500: #37b04a;
    --color-success-600: #289138;
    --color-success-700: #237230;
    --color-success-800: #205b29;
    --color-success-900: #1c4b25;
    --color-success-950: #0a2910;

    --color-warning-50: #f3d35f;
    --color-warning-100: #f5d253;
    --color-warning-200: #e7b80a;
    --color-warning-300: #d9b326;
    --color-warning-400: #f8cd2e;
    --color-warning-500: #B79103FF;
    --color-warning-600: #B79103FF;
    --color-warning-700: #B79103FF;
    --color-warning-800: #B79103FF;
    --color-warning-900: #B79103FF;
    --color-warning-950: #B79103FF;

    --color-danger-50: #C24044FF;
    --color-danger-100: #C24044FF;
    --color-danger-200: #C24044FF;
    --color-danger-300: #C24044FF;
    --color-danger-400: #C24044FF;
    --color-danger-500: #C24044FF;
    --color-danger-600: #C24044FF;
    --color-danger-700: #C24044FF;
    --color-danger-800: #C24044FF;
    --color-danger-900: #C24044FF;
    --color-danger-950: #C24044FF;

    --color-wsadmin-50: #a0caff;
    --color-wsadmin-100: #8bb8f3;
    --color-wsadmin-200: #8ab7f3;
    --color-wsadmin-300: #7fa9e0;
    --color-wsadmin-400: #7095c4;
    --color-wsadmin-500: #607fa8;
    --color-wsadmin-600: #547094;
    --color-wsadmin-700: #455c7a;
    --color-wsadmin-800: #394c65;
    --color-wsadmin-900: #2d3c50;
    --color-wsadmin-950: #1f2937;

    --color-primary-50: #F9FAFB;
    --color-primary-100: #F3F4F6;
    --color-primary-200: #E5E7EB;
    --color-primary-300: #BFC4CD;
    --color-primary-400: #9CA3AF;
    --color-primary-500: #6B7280;
    --color-primary-600: #4B5563;
    --color-primary-700: #374151;
    --color-primary-800: #1F2937;
    --color-primary-900: #111827;
    --color-primary-950: #030712;

    --color-gray-50: #F9FAFB;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #BFC4CD;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;
    --color-gray-600: #4B5563;
    --color-gray-700: #374151;
    --color-gray-800: #1F2937;
    --color-gray-900: #111827;
    --color-gray-950: #030712;

    --color-blumine-50: #f1f8fa;
    --color-blumine-100: #dcecf1;
    --color-blumine-200: #bcdae5;
    --color-blumine-300: #8ec0d2;
    --color-blumine-400: #599db7;
    --color-blumine-500: #3e829c;
    --color-blumine-600: #366a84;
    --color-blumine-700: #2e5266;
    --color-blumine-800: #2f4a5b;
    --color-blumine-900: #2b404e;
    --color-blumine-950: #182834;

}

/* 4. COMPORTAMENTO DO CONTAINER */
@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}

/* 5. VARIANTES CUSTOMIZADAS */
@custom-variant sidebar-expanded (.sidebar-expanded &);
