html.scroll-smooth {
    scroll-behavior: smooth
}

html, body, .wrapper {
    min-height: 100%
}

.wrapper {
    position: relative
}

.wrapper .content-wrapper {
    min-height: calc(100vh - calc(3.5rem + 1px));
    height: auto;
    padding-top: 16px;
}

.wrapper .main-header {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.wrapper .control-sidebar {
    top: calc(3.5rem + 1px)
}

.wrapper .sidebar {
    margin-top: calc(3.5rem + 1px)
}

.wrapper .brand-link {
    height: calc(3.5rem + 1px);
    width: 4.6rem;
}

.wrapper .brand-link img.brand-image {
    padding: 0 14px;
}

.wrapper .control-sidebar {
    top: 0
}

.wrapper a.anchor {
    display: block;
    position: relative;
    top: calc((3.5rem + 1px + (0.5rem * 2)) / -1)
}

.wrapper .main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038
}

.wrapper .main-sidebar a:-moz-focusring {
    border: 0;
    outline: none
}

.wrapper .main-sidebar:hover .brand-link {
    transition: width .3s ease-in-out;
    width: 250px
}

.wrapper .brand-link {
    width: 250px;
    overflow: hidden;
    transition: width .3s ease-in-out;
    z-index: 1035;
    padding: 8px 14px;
    display: table;
}

.wrapper .main-sidebar, .wrapper .main-sidebar::before {
    background-color: #1f2937;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    width: 250px
}

@media (prefers-reduced-motion: reduce) {
    .wrapper .main-sidebar, .wrapper .main-sidebar::before {
        transition: none
    }
}

.preloader {
    display: -ms-flexbox;
    display: flex;
    background-color: #f4f6f9;
    height: 100vh;
    width: 100%;
    transition: height 200ms linear;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999
}

.main-header.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-header.navbar .navbar-nav {
    display: block;
    list-style: none;
    padding: 12px;
}

.navbar.navbar-expand .navbar-nav .nav-item {
    float: left;
}

.navbar-expand > .container, .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.navbar-expand .navbar-nav-scroll {
    overflow: visible
}

.navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.navbar-expand .navbar-toggler {
    display: none
}


/** Menu Lateral **/
.nav {
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    display: table;
    width: 100%;
    padding: 0 2px 0 0;
}

.nav .nav-pills .nav-link {
    color: #f1f1f1;
}

.nav .nav-pills .nav-link:not(.active):hover {
    color: #fff
}

.nav .nav-pills .nav-item.dropdown.show .nav-link:hover {
    color: #fff
}

.dy-menu :where(li>details>summary) {
    color: #fff;
}


.adm-wd-30{width: 30px!important;}
.adm-wd-40{width: 40px!important;}
.adm-wd-60{width: 60px!important;}
.adm-wd-80{width: 80px!important;}
.adm-wd-100{width: 100px!important;}
.adm-wd-120{width: 120px!important;}
.adm-wd-160{width: 160px!important;}
.adm-wd-180{width: 180px!important;}
.adm-wd-480{width: 480px!important;}

/** Lateral de Informações -------------------------------------------*/
#rightpad {
    position: fixed;
    top: 0;
    height: 100%;
    width: 780px;
    right: -780px;
    border: 1px solid rgb(235, 235, 235);
    background: rgb(255, 255, 255);
    z-index: 9999;
    padding: 12px;
    overflow: auto;
    transition: right .35s ease;
}
#rightpad.open {
    right: 0;
}



